In [ ]:
#Importing required libraries
import pandas as pd
import numpy as np

In [ ]:
df=pd.read_csv('adult.data.csv')

In [ ]:
df

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
32557,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32558,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
32559,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
32560,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

In [ ]:
a=df['race'].count()

In [ ]:
a

32561

In [ ]:
race_counts = df['race'].value_counts()

In [ ]:
race_counts

White                 27816
Black                  3124
Asian-Pac-Islander     1039
Amer-Indian-Eskimo      311
Other                   271
Name: race, dtype: int64

What is the average age of men?

In [ ]:
average_age_men = df.loc[df['sex'] == 'Male', 'age'].mean()

What is the percentage of people who have a Bachelor's degree?

In [ ]:
percentage_bachelors = (df['education'] == 'Bachelors').mean() * 100

What percentage of people with advanced education (Bachelors, Masters, or Doctorate) make more than 50K?

In [ ]:
advanced_education = df['education'].isin(['Bachelors', 'Masters', 'Doctorate'])
percentage_advanced_education_high_income = (df.loc[advanced_education, 'salary'] == '>50K').mean() * 100

What percentage of people without advanced education make more than 50K?

In [ ]:
non_advanced_education = ~advanced_education
percentage_non_advanced_education_high_income = (df.loc[non_advanced_education, 'salary'] == '>50K').mean() * 100

What is the minimum number of hours a person works per week?

In [ ]:
min_work_hours = df['hours-per-week'].min()

What percentage of the people who work the minimum number of hours per week have a salary of more than 50K?

In [ ]:
min_work_hours_high_income = (df.loc[df['hours-per-week'] == min_work_hours, 'salary'] == '>50K').mean() * 100

What country has the highest percentage of people that earn >50K and what is that percentage?

In [ ]:
country_high_income_percentage = df.loc[df['salary'] == '>50K', 'native-country'].value_counts(normalize=True) * 100
highest_country_percentage = country_high_income_percentage.idxmax()
percentage_highest_country = country_high_income_percentage.max()

Identify the most popular occupation for those who earn >50K in India.

In [ ]:
india_high_income_occupation = df.loc[(df['native-country'] == 'India') & (df['salary'] == '>50K'), 'occupation']
most_popular_occupation_india = india_high_income_occupation.value_counts().idxmax()